
nav {
  background:  rgb(51,51,51);
  height: 75px;
  margin-bottom: 15px;
}

.nav-table {
  padding-right: 50px;
  float: right;
}

.nav-navbar {
  list-style: none;
}

li {
  float: left;
  padding: 25px 0;
  margin-left: 50px;
  display: inline;
}
a {
  font-size: 17px;
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.3s;
}
a:hover {
  color:  rgb(0, 160, 160);
  transition: 0.3s ease-in;
}


.nav-links li a {
	color: white;
	text-decoration: none;
	font-size: 26px;
}


.hafezrni-brand a{
  font-size: 25px;
  letter-spacing: 4px;
  padding: 0px 50px;
}


