*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav{
	height: 10vh;
}

.nav-links{
  list-style: none;
  position: fixed;
  background: rgb(119, 192, 192);
  height: 100vh;
  width: 100%;
  clip-path: circle(100px at 100% -0%);
  -webkit-clip-path: circle(100px at 110% -2%);
  transition: all 1s ease-out;
  pointer-events: none;
}
.nav-links.open{
	clip-path: circle(100px at 90% -10%);
  -webkit-clip-path: circle(550px at 100% -0%);
  pointer-events: all;
  padding:50px 0 0 75% ;
}

.nav-li{
  margin: 35px;
}

.nav-links li a {
	color: white;
	text-decoration: none;
	font-size: 26px;
}

.line{
	width: 30px;
	height: 4px;
	background: rgb(119, 192, 192);
	margin: 5px;
}
.linecolor{
  background: #fff;

}

.hamburger{
	position: fixed;
	cursor: pointer;
	right: 3.3%;
	top: 2.5%;
	transform: translate(-3.% , -2.5%);
	z-index: 2;
}

